<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polito.madinblack.expandedmad">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_wallet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wallet"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".GroupManaging.GroupListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ExpenseListActivity"
            android:label="@string/title_expense_list"
            android:parentActivityName=".GroupManaging.GroupListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.GroupManaging.GroupListActivity" />
        </activity>

        <activity
            android:name=".GroupManaging.GroupDetailActivity"
            android:label="Group Details"
            android:parentActivityName=".ExpenseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.ExpenseListActivity" />
        </activity>

        <activity
            android:name=".ExpenseDetailActivity"
            android:label="Expense Details"
            android:parentActivityName=".ExpenseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.ExpenseListActivity" />
        </activity>

        <activity
            android:name=".group_members.PersonalDebts"
            android:label="Personal Details"
            android:parentActivityName=".ExpenseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.ExpenseListActivity" />
        </activity>

        <activity
            android:name=".group_members.GroupMemebersActivity"
            android:label="Personal Details"
            android:parentActivityName=".ExpenseListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.ExpenseListActivity" />
        </activity>

        <activity
            android:name=".group_members.UserExpenses"
            android:label="Personal Details"
            android:parentActivityName=".group_members.GroupMemebersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.group_members.GroupMemebersActivity" />
        </activity>

        <activity
            android:name=".group_members.UserDebts"
            android:label="Personal Details"
            android:parentActivityName=".group_members.UserExpenses"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.group_members.UserExpenses" />
        </activity>

    </application>

</manifest>