<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polito.madinblack.expandedmad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_wallet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_wallet"
        android:supportsRtl="true"
        android:configChanges="orientation|screenSize|locale"
        android:name=".AppMain"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <service
            android:name=".notification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service android:name=".notification.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".groupManaging.GroupListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="none" />
            <category android:name="android.intent.category.MONKEY"/>
        </intent-filter>
        </activity>

        <activity
            android:name=".tabViewGroup.TabView"
            android:label="Tab View"
            android:parentActivityName=".groupManaging.GroupListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupListActivity" />
        </activity>

        <activity
            android:name=".groupManaging.GroupDetailActivity"
            android:label="Group Details"
            android:parentActivityName=".tabViewGroup.TabView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.tabViewGroup.TabView" />
        </activity>

        <activity
            android:name=".expenseDetail.ExpenseDetailActivity"
            android:label="Expense Details"
            android:parentActivityName=".tabViewGroup.TabView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.tabViewGroup.TabView" />
        </activity>

        <activity
            android:name=".groupMembers.GroupMemebersActivity"
            android:label="Group Details"
            android:parentActivityName=".tabViewGroup.TabView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.tabViewGroup.TabView" />
        </activity>

        <activity
            android:name=".groupMembers.UserExpenses"
            android:label="Group User Details"
            android:parentActivityName=".groupMembers.GroupMemebersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupMembers.GroupMemebersActivity" />
        </activity>

        <activity
            android:name=".groupMembers.UserDebts"
            android:label="User Details"
            android:parentActivityName=".groupMembers.UserExpenses"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupMembers.UserExpenses" />
        </activity>

        <activity
            android:name=".newExpense.ExpenseFillData"
            android:label="Add New Expense"
            android:parentActivityName=".tabViewGroup.TabView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.tabViewGroup.TabView" />
        </activity>

        <activity
            android:name=".login.GoogleSignInActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".login.CheckLogIn"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".newGroup.NewGroup"
            android:label="New Group"
            android:parentActivityName=".newGroup.SelectContact"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|locale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.newGroup.SelectContact" />
        </activity>

        <activity
            android:name=".newGroup.SelectContact"
            android:label="Select Contact"
            android:parentActivityName=".groupManaging.GroupListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupListActivity" />
        </activity>

        <activity
            android:name=".newGroup.InviteActivity"
            android:label="Invite New Contacts"
            android:parentActivityName=".groupManaging.GroupListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupListActivity" />
        </activity>

        <activity
            android:name=".StatisticsGraphs"
            android:label="Statistics"
            android:parentActivityName=".groupManaging.GroupListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|locale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupListActivity" />
        </activity>

        <activity
            android:name=".login.CheckTelephone"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name=".login.TelephoneInsertion"
            android:label="Insert account details"
            android:parentActivityName=".login.GoogleSignInActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.login.GoogleSignInActivity" />
        </activity>

        <activity
            android:name=".groupManaging.GroupHistory"
            android:label="@string/title_activity_group_history"
            android:parentActivityName=".tabViewGroup.TabView"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.tabViewGroup.TabView" />
        </activity>

        <activity
            android:name=".expenseDetail.PaymentDetailActivity"
            android:label="@string/payments_detail"
            android:parentActivityName=".expenseDetail.ExpenseDetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.expenseDetail.ExpenseDetailActivity" />
        </activity>

        <activity
            android:name=".expenseDetail.ContestExpenseActivity"
            android:label="@string/contention"
            android:parentActivityName=".expenseDetail.ExpenseDetailActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.expenseDetail.ExpenseDetailActivity" />
        </activity>

        <activity
            android:name=".UserPage"
            android:parentActivityName=".groupManaging.GroupListActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|locale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupListActivity" />
        </activity>

        <activity
            android:name=".addUserToGroup.SelectContactToAdd"
            android:parentActivityName=".groupManaging.GroupSettings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupSettings" />
        </activity>

        <activity
            android:name=".addUserToGroup.InviteActivityToAdd"
            android:parentActivityName=".groupManaging.GroupSettings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupSettings" />
        </activity>

        <activity
            android:name=".groupManaging.GroupSettings"
            android:parentActivityName=".tabViewGroup.TabView"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|locale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.tabViewGroup.TabView" />
        </activity>

        <activity
            android:name=".groupManaging.EditGroupName"
            android:parentActivityName=".groupManaging.GroupSettings"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupSettings" />
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:parentActivityName=".groupManaging.GroupListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.groupManaging.GroupListActivity" />
        </activity>

        <activity
            android:name=".FullScreenImage"
            android:parentActivityName=".expenseDetail.ExpenseDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation|screenSize|locale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.expenseDetail.ExpenseDetailActivity" />
        </activity>

        <activity
            android:name=".balanceDetail.BalanceDetailActivity"
            android:parentActivityName=".tabViewGroup.TabView"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.polito.madinblack.expandedmad.tabViewGroup.TabView" />
        </activity>

    </application>

</manifest>